html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  h1 {
    font-size: 4.0rem;
    color: blue;
  }
  button {
    font-size: 2.0rem;
  }
  p {
    font-size: 2.0rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }